/* *{
    margin: 0%;
    padding: 0%;
    height: 0%;
    width: 0%;
}
html{
    height: 100%;
    width: 100%;
} */
body{
    height: 100%;
    width: 100%;
    background-color: rgba(249, 201, 26, 0.843);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
#cabecalho{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#coroa{
    width: 60px;
    height: 60px;
    animation: pulse 1.5s infinite;
}
@keyframes pulse{
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
#titulo{
    /* border: solid 2px; */
    height: 100px;
    width: 170px;
    display: flex;
    text-align: center;
    align-items: center;
    
}
#caixa-formulario{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 3%;
    width:400px ;
    height: 550px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.texto{
    text-align: center;
}
#formulario-dados{
    /* formulario de cadastro */
    /* border: solid 2px; */
    border-radius: 3%;
    box-shadow: rgba(6, 24, 44, 0.623) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.54) 0px 1px 0px inset;
    background-color: rgba(205, 202, 202, 0.077);
    height: 350px;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.inputs{
    width:180px;
    height: 30px;
    background-color: rgba(210, 105, 30, 0);
    border-bottom: solid 0.7px;
    border-top: 0px;
    border-right: 0px;
    border-left: opx;

}